<div class="row">
	<div class="one-half column" style="margin-top: 25%">
		<p style="margin-bottom: 1%">code &amp; coffee</p>
		<h4>there's no place like ~/</h4>
	</div>
</div>

<div class="navbar-spacer"></div>
<nav class="navbar" style="bottom: 10">
	<div class="container">
		<ul class="navbar-list">
			<li class="navbar-item">
				<a class="navbar-link" href="/">Posts</a>
			</li>
			<li class="navbar-item">
				<a class="navbar-link" href="/about">About</a>
			</li>
		</ul>
	</div>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
